* {
  box-sizing: border-box;
}

body {
  margin: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2f43;
  color: #ffffff;
  line-height: 1.5;
}

input {
  padding: 8px 18px;
  border-radius: 25px;
  border: 3px solid var(--taskLink);
  font: inherit;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(0, 190, 224);
  border-radius: 18px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  list-style: none;
}

ul {
  border-radius: 24px;
}

li {
  max-width: 300px;
  border-radius: 16px;
}

a {
  padding: 10px 26px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 16px;
  background-color: var(--taskLink);
  transition: background-color var(--transition);
}

a:hover,
a:focus {
  background-color: var(--taskLinkActive);
}

:root {
  --taskLink: #31d0aa;
  --taskLinkActive: #57f7d2;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main index */
.tasks-list {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.tasks-list__item {
  width: calc((100% - 40px) / 4);
}

.task-list__link {
  background: var(--taskLink);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: #1b2f43;
  font-size: 24px;
  text-decoration: none;
  transition: background-color var(--transition), transform var(--transition);
}

.task-list__link:hover,
.task-list__link:focus {
  background-color: var(--taskLinkActive);
  transform: scale(1.04);
}

@media screen and (max-width: 770px) {
  .tasks-list {
    gap: 20px;
  }

  .tasks-list__item {
    width: calc((100% - 40px) / 2);
  }
}

/* task 1 */
#categories {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.item {
  padding: 10px 20px;
  background-color: #1c3f62;
}

.item > ul > li {
  margin-bottom: 8px;
  text-align: left;
}

@media screen and (max-width: 770px) {
  #categories {
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 25px;
  }
}

/* task 2 */
#ingredients {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#ingredients > li {
  width: 250px;
}

@media screen and (max-width: 770px) {
  #ingredients {
    margin-top: 80px;
    gap: 10px;
  }
}

/* task 3 */
.gallery {
  padding: 20px;
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #1c3f62;
}

@media screen and (max-width: 770px) {
  .gallery {
    margin-top: 50px;
    gap: 25px;
  }
}

/* task 4 */
#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 300px;
  margin: 100px auto;
}

#value {
  font-size: 34px;
  font-weight: 700;
}

.decrement-btn {
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #ff0000;
  transition: transform var(--transition);
}

.increment-btn {
  padding: 10px 25px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px;
  background-color: rgb(0, 255, 0);
  transition: transform var(--transition);
}

.increment-btn:is(:hover, :focus),
.decrement-btn:is(:hover, :focus) {
  transform: scale(1.1);
}

@media screen and (max-width: 770px) {
  .gallery {
    margin-top: 50px;
    gap: 25px;
  }
}

/* task 5 */
#name-input {
  margin-top: 30px;
  padding: 8px 18px;
  border-radius: 25px;
  border: 2px solid #31d0aa;
}

/* task 6 */
#validation-input {
  margin-top: 30px;
  padding: 9px 20px;
  border-radius: 25px;
}

/* task 7 */
#font-size-control {
  margin-top: 20px;
  width: 200px;
}

/* task 8 */
.login-form {
  margin: 100px auto 0;
  padding: 25px;
  background-color: #1c3f62;
  border-radius: 30px;
}

.login-form > label {
  margin-top: 20px;
  font-weight: 500;
}

.login-form > label > input {
  margin-top: 8px;
  padding: 8px 18px;
  border-radius: 25px;
  border: 3px solid var(--taskLink);
}

.login-form > label > input:is(:hover, :focus) {
  border-color: var(--taskLinkActive);
}

.login-form .form-submit-btn {
  margin: 30px auto;
  padding: 7px 12px;
  max-width: 140px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  background-color: rgb(0, 255, 0);
  transition: transform var(--transition);
}

.form-submit-btn:is(:hover, :focus) {
  transform: scale(1.05);
}

@media screen and (max-width: 770px) {
  .login-form {
    margin-top: 50px;
  }

  .login-form > label {
    margin-top: 10px;
    font-weight: 500;
  }

  .login-form .form-submit-btn {
    margin: 20px auto;
  }
}

/* task 9 */
.widget {
  margin: 100px auto;
  padding: 40px;
  max-width: 500px;
  border-radius: 35px;
  background-color: #1c3f62;
}

.widget .change-color {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 16px;
  background-color: rgb(0, 190, 224);
  transition: transform var(--transition);
}

.change-color:is(:hover, :focus) {
  transform: scale(1.05);
}

@media screen and (max-width: 770px) {
  .widget {
    margin-top: 50px;
    padding: 30px;
    border-radius: 35px;
    background-color: #1c3f62;
  }
}

/* task 10 */
#controls {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

#boxes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
